/*Inicio do banner*/

.banner {
    margin: 0px !important;
    padding: 0px !important;
    text-align: center;
    background-image: url("../img/banner.jpg");
    height: auto;
}

.banner article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #9bfdff;
    padding: 4%;
}

.banner article h1 {
    font-size: 4.3rem;
}

/*Fim do banner*/

/*Inicio de projeto*/
#logo1 {
    font-size: 4rem;
}
#logo2 {
    font-size: 4rem;
}
#logo3 {
    font-size: 4rem;
}
#logo4 {
    font-size: 4rem;
}

#facebook {
    font-size: 2rem;
    color: #4267b3;
    transition: all 0.3s;
}

#facebook:hover {
    opacity: 0.8;
}

#instagram {
    font-size: 2rem;
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    border-radius: 50px;
    transition: all 0.3s;
}

#instagram:hover {
    opacity: 0.8;
}

#twitter {
    font-size: 2rem;
    color: #21c2de;
    border-radius: 50px;
    transition: all 0.3s;
}

#twitter:hover {
    opacity: 0.8;
}


img {
    transition: all 0.4s;
}

img:hover {
    transform: scale(1.1);
}

.hover-underline {
    transition: all 0.3s linear;
}

.hover-underline:hover {
    opacity: 0.9;
    border-bottom: 1px solid #fff;
}
/*Fim de projeto*/

@media (max-width: 768px) {
    .banner article h1 {
        font-size: 2.6rem;
    }
}
